[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pycodestyle = "*"
pylint = "*"
gprof2dot = "*"
profileeye = "*"
jinja2 = "*"
snakeviz = "*"
pytest = "*"
black = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
